// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color: if($variant =='light', #FFFFFF, #202930);
$text_color: if($variant == 'light', #354450, #B5E1E9);
$bg_color: if($variant =='light', #F9F9F9, #1D262C);
$fg_color: if($variant =='light', #354450, #B5E1E9);

$selected_fg_color: #FFFFFF;
$selected_bg_color: #4bb3fd;
$selected_borders_color: darken($selected_bg_color, 20%);
$borders_color: if($variant =='light', darken($bg_color,9%), darken($bg_color,6%));

$link_color: if($variant == 'light', darken($selected_bg_color,10%),
                                     lighten($selected_bg_color,20%));
$link_visited_color: if($variant == 'light', darken($selected_bg_color,20%),
                                     lighten($selected_bg_color,10%));

$selection_mode_bg: if($transparency == 'true', transparentize($selected_bg_color, 0.05), $selected_bg_color);
$selection_mode_fg: $selected_fg_color;
$warning_color: #FF8716;
$error_color: #F13039;
$warning_fg_color: white;
$error_fg_color: white;
$success_color: #5eb541;
$destructive_color: #FF3030;
$suggested_color: #4BB3FD;
$destructive_fg_color: white;
$suggested_fg_color: white;

$drop_target_color: #F29035;

//insensitive state derived colors
$insensitive_fg_color: if($variant == 'light', transparentize($fg_color, 0.45), transparentize($fg_color, 0.55));
$insensitive_bg_color: if($variant == 'light', mix($bg_color, $base_color, 40%), lighten($bg_color, 2%));

$header_bg: red;
@if $transparency=='true' and $variant=='light' { $header_bg: transparentize(#E4E7E8, 0.05); }
@if $transparency=='false' and $variant=='light' { $header_bg: #E4E7E8; }
@if $transparency=='true' and ($variant=='dark' or $darker=='true') { $header_bg: transparentize(#232D35, 0.03); }
@if $transparency=='false' and ($variant=='dark' or $darker=='true') { $header_bg: #232D35; }

$header_bg_backdrop: if($darker == 'true' or $variant == 'dark', lighten($header_bg, 1.5%), lighten($header_bg, 3%));

$header_border: if($variant == 'light' and $darker=='false', darken($header_bg, 7%), darken($header_bg, 4%));

$header_fg: if($variant == 'light', saturate(transparentize($fg_color, 0.2), 10%), saturate(transparentize($fg_color, 0.2), 10%));
$header_fg: if($darker == 'true', saturate(transparentize(#B5E1E9, 0.2), 10%), $header_fg);

$dark_sidebar_bg: if($transparency == 'true', transparentize(#1F282E, 0.05), #1F282E);
$dark_sidebar_fg: #B5E1E9;
$dark_sidebar_border: if($variant == 'light', $dark_sidebar_bg, darken($dark_sidebar_bg, 5%));

$osd_fg_color: $dark_sidebar_fg;
$osd_bg_color: $dark_sidebar_bg;

$osd_button_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_button_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_entry_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_entry_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_insensitive_bg_color: darken($osd_bg_color, 3%);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);
$osd_borders_color: transparentize(black, 0.3);

$panel_bg: darken($dark_sidebar_bg, 4.7%);
$panel_fg: $dark_sidebar_fg;

$entry_bg: if($variant=='light', $base_color, lighten($base_color, 0%));
$entry_border: if($variant == 'light', #B5E1E9, darken($borders_color, 0%));

$header_entry_bg: if($darker == 'true' or $variant == 'dark', transparentize(lighten($header_bg, 22%), 0.6), transparentize($base_color, 0.1));
$header_entry_border: if($darker == 'true' or $variant == 'dark', transparentize(darken($header_bg, 12%), 0.6), transparentize($header_fg, 0.7));

$button_bg: if($variant == 'light', lighten($bg_color, 2%), lighten($base_color, 2%));
$button_border: $entry_border;

$header_button_bg: if($darker == 'true' or $variant == 'dark', transparentize(lighten($header_bg, 22%), 0.6), transparentize($button_bg, 0.1));
$header_button_border: if($darker == 'true' or $variant == 'dark', transparentize(darken($header_bg, 12%), 0.6), transparentize($header_fg, 0.7));

//WM Buttons

// Close
$wm_button_close_bg: if($variant == 'light' and $darker == 'false', #ff3030, #ff3030);
$wm_button_close_hover_bg: if($variant == 'light' and $darker == 'false', #f13039, #b73131);
$wm_button_close_active_bg: if($variant == 'light' and $darker == 'false', #ff3030, #bf2828);

$wm_icon_close_bg: if($variant == 'light' and $darker == 'false',#F9F9F9 , #232D35);

// Minimize, Maximize
$wm_button_hover_bg: if($variant == 'light' and $darker == 'false', #FDFDFD, #28333C);
$wm_button_active_bg: $selected_bg_color;

$wm_button_hover_border: if($variant == 'light' and $darker == 'false', #B5E1E9, #202A31);

$wm_icon_bg: if($variant == 'light' and $darker == 'false', #9FA6AC, #9FA6AC);
$wm_icon_unfocused_bg: if($variant == 'light' and $darker == 'false', #BCE5EB, #54616B);
$wm_icon_hover_bg: if($variant == 'light' and $darker == 'false', #58656F, #B5E1E9);
$wm_icon_active_bg: $selected_fg_color;
