[colors]
foreground = #EBDBB2
background = #0A0D15
modb = #0D0D11
modb1 = #0D0D11
modb2 = #1D2021

red     = #ED474F
green   = #82FFC2
yellow  = #FFBD92
blue    = #83A598
violet  = #ED4781
cyan    = #7056A9
white   = #FF9C82

[global/wm]
margin-top = 0
margin-bottom = 0
override-redirect = true

[bar/top]
monitor = eDP1
width = 100%
height = 32
offset-x = 0
offset-y = 0

locale = de_DE.UTF-8
background = ${colors.background}
foreground = ${colors.foreground}

font-0 = kakwafont:size=8:antialias=true;0
;font-1 = MaterialIcons-Regular :size=10:;
font-1 = icomoon :size=9:;-1

modules-left = date1 volume cpu weather
modules-center = openbox
modules-right = gmail spotipy previous playpause next powermenu

tray-position = off
tray-padding = 2
tray-transparent = false
tray-detached = false
tray-background = ${colors.modb}

spacing = 1
padding-left = 0
padding-right = 0
module-margin-left = 0
module-margin-right = 0

[module/volume]
type = internal/volume

format-volume = <ramp-volume><label-volume>

format-volume-background = ${colors.modb}
format-volume-padding = 2

module-margin-right = 0
ramp-volume-0 =
ramp-volume-1 =
ramp-volume-2 =
ramp-volume-3 =
ramp-volume-foreground = ${colors.green}

label-muted-padding = 2
label-muted =  muted
label-muted-background = ${colors.modb}

[module/gmail]
type = custom/script
interval = 600

exec = /home/pringle/.config/polybar/scripts/gmail/polybar-gmail-module/gmail.py
click-left = xdg-open https://mail.google.com

[module/date1]
type = internal/date
interval = 1
date = " %I:%M"
format-prefix = 
format-prefix-foreground = ${colors.red}
format-background = ${colors.modb}
format-padding = 2

[module/powermenu]
type = custom/menu

label-open =
label-open-foreground = ${colors.green}
label-open-background = ${colors.modb2}
label-open-padding = 2
label-close =
label-close-padding = 3
label-close-foreground = $[colors.red]
label-separator = |
label-separator-foreground = #666666

menu-0-0 =Terminal
menu-0-0-exec = menu-open-1
menu-0-1 =Files
menu-0-1-exec = menu-open-2
menu-0-2 =Back
menu-0-2-exec = menu-open-3

menu-1-0 =
menu-1-0-exec = menu-open-0
menu-1-1 =
menu-1-1-exec = systemctl reboot

menu-2-0 =
menu-2-0-exec = systemctl poweroff
menu-2-1 =
menu-2-1-exec = menu-open-0

menu-3-0 =
menu-3-0-exec = herbstclient quit
menu-3-1 =
menu-3-1-exec = menu-open-0

[module/hlws]
type = custom/script
exec = python3 scripts/hlws.py
scroll-down = exec herbstclient use_index +1
scroll-up = exec herbstclient use_index -1
interval = 0.01
format-foreground = ${colors.foreground}
format-background = ${colors.modb2}
format-padding = 2

[module/openbox]
type=internal/xworkspaces
pin-workspaces=true
enable-click=false
enable-scroll=false
format=<label-state>
label-monitor=%name%
label-active =%icon%%name%
label-active-foreground =${colors.white}
label-active-background =${colors.modb}
label-active-underline=${colors.cyan}
label-active-padding=1
label-occupied =%name%
label-occupied-background=${colors.white}
label-occupied-padding=1
label-urgent=%index%
label-urgent-foreground=${colors.red}
label-urgent-background=${colors.background}
label-urgent-underline=${colors.red}
label-empty =%name%
label-empty-padding=1
label-empty-background=${colors.background}
label-empty-foreground=${colors.foreground}

[module/previous]
type = custom/script
format-text = <label>
label = 
exec = echo label
click-left = exec playerctl previous
format-foreground = ${colors.yellow}
format-background = ${colors.modb1}
format-padding = 2

[module/next]
type = custom/script
format-text = <label>
label = 
exec = echo label
click-left = exec playerctl next
format-foreground = ${colors.yellow}
format-background = ${colors.modb1}
format-padding = 2

[module/spotipy]
type = custom/script
exec =  python3 ~/scripts/spoti.py
exec-if = pgrep spotify > /dev/null
interval = 0.01
click-left = playerctl -p spotify play-pause
format-foreground = ${colors.foreground}
format-background = ${colors.modb1}
format-padding = 2

[module/playpause]
type = custom/script
exec = python3 /home/pringle/.config/polybar/scripts/playpause.py
interval = 0.01
click-left = playerctl -p spotify play-pause
format-foreground = ${colors.blue}
format-background = ${colors.modb1}
format-padding = 2


[module/cpu]
type = internal/cpu
label = %percentage-core1%%
format-prefix = " "
format-prefix-foreground = ${colors.yellow}
format-background = ${colors.modb}
format-padding = 2

[module/weather]
type = custom/script
interval = 10
format = <label>
format-padding = 2
format-prefix = " "
format-suffix =
format-prefix-foreground = ${colors.foreground}
format-background = ${colors.modb}
exec = /home/pringle/.config/polybar/scripts/weather
