/*button margins*/
button,
button:backdrop{
min-width:24px;
min-height:24px;}
combobox button:backdrop,
combobox button{
min-height:24px;
min-width:16px;}

button>label,
button>label:backdrop{
margin:0px 5px;}
/*all buttons*/
button:not(:checked),
button:not(:checked):backdrop,
button:checked:disabled,
button:checked:disabled:backdrop{
background-color:shade(@bg_color,0.76);
border:1px solid @border_color;}
.view button:not(:checked),
.view button:not(:checked):backdrop,
.view button:checked:disabled,
.view button:checked:disabled:backdrop,
list button:not(:checked),
list button:not(:checked):backdrop,
list button:checked:disabled,
list button:checked:disabled:backdrop{
background-color:shade(@base_color,0.76);
border:1px solid @border_color;}
button:checked:not(:disabled),
button:checked:not(:disabled):backdrop,
button:active:not(:disabled),
button:active:not(:disabled):backdrop{
background-color:@selected_bg_color;
border:1px solid rgba(0,0,0,0.8);}

.view button:not(:checked),
.view button:not(:checked):backdrop,
.view button:checked:disabled,
.view button:checked:disabled:backdrop{
background-color:@base_color;}

notebook>header>tabs>tab>box>button,
notebook>header>tabs>tab>box>button:backdrop{
margin:1px;
min-height:18px;
min-width:18px;}
notebook>header>tabs>tab:checked>box>button,
notebook>header>tabs>tab:checked>box>button:backdrop{
background:@base_color;
border:1px solid rgba(0,0,0,0.9);}


/*buttons on the scrollbar*/
scrollbar>contents>button,
scrollbar>contents>button:backdrop{
min-width:0px;
min-height:0px;
background:transparent;
border-color:transparent;}
/*linked buttons*/
.horizontal.linked>button:not(:first-child):not(:dir(rtl)),
.horizontal.linked>button:not(:first-child):not(:dir(rtl)):backdrop{
margin-left:-1px;}
.horizontal.linked>button:not(:first-child):not(:dir(ltr)),
.horizontal.linked>button:not(:first-child):not(:dir(ltr)):backdrop{
margin-left:-1px;}
.vertical.linked>button:not(:first-child),
.vertical.linked>button:not(:first-child):backdrop{
margin-top:-1px;}

button.flat,
button.flat:backdrop,
button.link,
button.link:active,
button.link:backdrop,
button.link:backdrop:active,
.view button.flat,
.view button.flat:backdrop,
.view button.link,
.view button.link:active,
.view button.link:backdrop,
.view button.link:backdrop:active{
border-color:transparent;
background:transparent;}

stackswitcher>button,
stackswitcher>button:backdrop,
.stack-switcher button,
.stack-switcher button:backdrop{
font-weight:bold;}

.stack-switcher.horizontal button label,
.stack-switcher.horizontal button label:backdrop{
margin:0px 10px;}

dialog stackswitcher,
dialog stackswitcher:backdrop{
margin:5px;}
