notebook,
notebook:backdrop{
background:@base_color;
margin:0px;}
notebook>stack,
notebook>stack:backdrop{
background:@bg_color;
border:1px solid @border_color;
margin:-1px;}
notebook>header tab,
notebook>header tab:backdrop{
min-height:24px;
font-weight:bold;}
notebook>header.top tab:checked,
notebook>header.bottom tab:checked{
background-color:@selected_base_color;}
notebook>header.left tab:checked,
notebook>header.right tab:checked{
border-bottom:1px solid @selected_base_color;}
notebook>header.top{
border-bottom:1px solid @border_color;}
notebook>header.bottom{
border-top:1px solid @border_color;}
notebook>header.left{
border-right:1px solid @border_color;}
notebook>header.right{
border-left:1px solid @border_color;}
notebook>header.top tab:dir(ltr),
notebook>header.bottom tab:dir(ltr){
border-right:1px solid @border_color;}
notebook>header.top tab:dir(rtl),
notebook>header.bottom tab:dir(rtl){
border-right:1px solid @border_color;}
notebook>header.top tab:last-child:dir(ltr),
notebook>header.bottom tab:last-child:dir(ltr){
margin-right:-1px;}
notebook>header.top tab:last-child:dir(rtl),
notebook>header.bottom tab:last-child:dir(rtl){
margin-left:-1px;}
notebook>header.left tab:checked,
notebook>header.right tab:checked{
border-bottom:1px solid @selected_base_color;}
notebook>header.left tab,
notebook>header.right tab{
border-bottom:1px solid transparent;}
notebook>header.left tab:last-child:dir(ltr),
notebook>header.right tab:last-child:dir(ltr){
margin-bottom:-1px;}
notebook>header tab label,
notebook>header tab label:backdrop{
margin:0px 10px;}
notebook>header tab button,
notebook>header tab button:backdrop{
margin:2px;}
