[vars]

color-bg = #99000000
color-focused = #ffffff
color-occupied-muted = #aaffffff
color-empty = #33ffffff
color-urgent = #E04E46
color-border = #0000ff

font0 = Overpass:size=10:weight=heavy;1
font1 = FontAwesome:size=11:weight=light;2
font2 = xos4 terminus:size=12:weight=normal;1
font3 = URW Gothic:size=9:weight=normal;1

underline-size = 0
padding-0 = 4
padding-1 = 6
padding-2 = 2
;p-1 - p-0 = p-2

[settings]
throttle-limit = 5
throttle-ms = 50
throttle-input-for = 50

[bar/legacy]
height = 24
offset-y = 0px

tray-position = right
tray-transparent = false
tray-detached = false
tray-background = #0f1112
tray-padding = 4

border-bottom-size = 0
border-bottom-color = ${vars.color-border}

padding-left = ${vars.padding-2}
padding-right = ${vars.padding-1}

background = ${vars.color-bg}
foreground = ${vars.color-focused}

spacing = 1
underline-size = ${vars.underline-size}
overline-size = 0
module-margin-left = ${vars.padding-0}
module-margin-right = ${vars.padding-0}

font-0 = ${vars.font0}
font-1 = ${vars.font1}

modules-left = menu bspwm
modules-center = title
modules-right = memory volume cal clock
wm-name = bar
wm-restack = bspwm
override-redirect = true

[module/bspwm]
type = internal/bspwm
label-focused = %icon%
label-occupied = %icon%
label-empty = %icon%
label-urgent = %icon%
label-focused-padding = ${vars.padding-0}
label-occupied-padding = ${vars.padding-0}
label-empty-padding = ${vars.padding-0}
label-urgent-padding = ${vars.padding-0}
label-focused-background = ${vars.color-bg}
label-focused-foreground = ${vars.color-focused}
label-occupied-foreground = ${vars.color-occupied-muted}
label-empty-foreground = ${vars.color-empty}
label-urgent-foreground= ${vars.color-urgent}
label-focused-underline = ${vars.color-occupied-muted}
label-urgent-underline= ${vars.color-urgent}
ws-icon-0 = I;
ws-icon-1 = II;
ws-icon-2 = III;
ws-icon-3 = IV;
ws-icon-4 = V;
ws-icon-5 = VI;
ws-icon-6 = VII;
ws-icon-7 = VIII;
ws-icon-8 = IX;
ws-icon-9 = X;

[module/mpd]
type = internal/mpd
host = 127.0.0.1
port = 6601
interval = 2

[module/title]
type = internal/xwindow
label-maxlen = 100

[module/clock]
type = internal/date
date = %b %e %a, %H:%M
format-padding = 0

[module/volume]
type = internal/volume
format-volume-padding = 0
format-muted-padding = 0
format-volume = <ramp-volume> <label-volume>
label-muted =  muted
label-muted-foreground = ${vars.color-occupied-muted}
ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 

[module/menu]
type = custom/text
content = "     "
click-left = rofi -config ~/.config/rofi/config -show run

[module/cal]
type = custom/text
content = 
click-left = gsimplecal

[module/battery]
type = internal/battery
; ls -1 /sys/class/power_supply/
battery = BAT0
adapter = AC0
poll-interval = 5
time-format = %H:%M
format-charging = <animation-charging> <label-charging>
format-discharging = <ramp-capacity> <label-discharging>
label-charging = %percentage%%
label-discharging = %percentage%%
label-full = Fully charged
ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 
bar-capacity-width = 10
animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-3 = 
animation-charging-4 = 
animation-charging-framerate = 750

[module/memory]
type = internal/memory
interval = 3
format = <label>
; Available tokens:
;   %percentage_used% (default)
;   %percentage_free%
;   %gb_used%
;   %gb_free%
;   %gb_total%
;   %mb_used%
;   %mb_free%
;   %mb_total%
label =   %gb_free%
bar-used-indicator = 
bar-used-width = 50
bar-used-foreground-0 = #55aa55
bar-used-foreground-1 = #557755
bar-used-foreground-2 = #f5a70a
bar-used-foreground-3 = #ff5555
bar-used-fill = |
bar-used-empty = |
bar-used-empty-foreground = #444444

; vim:ft=dosini
