<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="acc-menu" label="Accessories">
		<item label="Xterm">
			<action name="Execute">
				<execute>xterm</execute>
			</action>
		</item>
		<item label="Thunar">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="Gedit">
			<action name="Execute">
				<execute>gedit</execute>
			</action>
		</item>
		<item label="Calculator">
			<action name="Execute">
				<execute>gnome-calculator</execute>
			</action>
		</item>
	</menu>
	<menu id="work-menu" label="Work">
		<item label="Atom">
			<action name="Execute">
				<execute>atom</execute>
			</action>
		</item>
		<item label="Filezilla">
			<action name="Execute">
				<execute>filezilla</execute>
			</action>
		</item>
		<item label="Slack">
			<action name="Execute">
				<execute>slack</execute>
			</action>
		</item>
		<separator/>
		<item label="FocusWriter">
			<action name="Execute">
				<execute>focuswriter</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-net-menu" label="Internet">
		<item label="Hexchat">
			<action name="Execute">
				<execute>hexchat</execute>
			</action>
		</item>
		<item label="Google Chrome">
			<action name="Execute">
				<execute>google-chrome-stable</execute>
			</action>
		</item>
		<item label="Thunderbird">
			<action name="Execute">
				<execute>thunderbird</execute>
			</action>
		</item>
	</menu>
	<menu id="entertainment-menu" label="Entertainment">
		<item label="Spotify">
			<action name="Execute">
				<execute>spotify</execute>
			</action>
		</item>
		<item label="Clementine">
			<action name="Execute">
				<execute>clementine</execute>
			</action>
		</item>
		<separator/>
		<item label="Steam">
			<action name="Execute">
				<execute>steam</execute>
			</action>
		</item>
		<item label="Steam (wine)">
			<action name="Execute">
				<execute>WINEPREFIX=~/.wine_ducks wine .wine/drive_c/Program\ Files\ \(x86\)/Steam/Steam.exe</execute>
			</action>
		</item>
		<item label="Antimicro">
			<action name="Execute">
				<execute>antimicro</execute>
			</action>
		</item>
		<item label="Teamspeak">
			<action name="Execute">
				<execute>teamspeak3</execute>
			</action>
		</item>
		<item label="Hedgewars">
			<action name="Execute">
				<execute>hedgewars</execute>
			</action>
		</item>
	</menu>
	<menu id="apps-graphics-menu" label="Graphics">
		<item label="Gimp">
			<action name="Execute">
				<command>gimp</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Krita">
			<action name="Execute">
				<execute>krita</execute>
			</action>
		</item>
		<item label="Inkscape">
			<action name="Execute">
				<command>inkscape</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
	</menu>
	<menu id="system-menu" label="System">
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Gnome Control Center">
			<action name="Execute">
				<command>gnome-control-center</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Obmenu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<item label="Obconf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="Pavucontrol">
			<action name="Execute">
				<execute>pavucontrol</execute>
			</action>
		</item>
		<item label="lxappearance">
			<action name="Execute">
				<execute>lxappearance</execute>
			</action>
		</item>
		<item label="Manage Cups Printers">
			<action name="Execute">
				<command>xdg-open http://localhost:631/</command>
				<startupnotify>
					<enabled>no</enabled>
					<icon>cups</icon>
				</startupnotify>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications"/>
		<menu id="acc-menu"/>
		<menu id="work-menu"/>
		<menu id="apps-graphics-menu"/>
		<menu id="entertainment-menu"/>
		<menu id="apps-net-menu"/>
		<separator label="System"/>
		<menu id="system-menu"/>
		<separator/>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
