;-------------------------------------------------
;                                                ;
;           POLYBAR CONFIG FOR CYBERPUNK         ;
;                                                ;
;-------------------------------------------------

;-------------------------------------------------
;                                                ;
;                   COLORS                       ;
;                                                ;
;-------------------------------------------------
[colors]
background = #120D19
foreground = #E9488D
blue  = #244E64
white = #FFFFFF

;-------------------------------------------------
;                                                ;
;                   BAR MODULE                   ;
;                                                ;
;-------------------------------------------------
[bar/future]
monitor = eDP1
width = 70%
height = 40
offset-x = 15%
offset-y = 1%
radius = 0.0
fixed-center = true

background = ${colors.background}
foreground = ${colors.foreground}

border-size = 1
border-color = ${colors.foreground}

modules-left = bspwm
modules-center = date
modules-right = pavolume cpu powermenu
font-0 = "Unifont:size=12:weight=bold;2"
font-1 = "FontAwesome:size=12;2"

;-------------------------------------------------
;                                                ;
;                   BSPWM PARAMETERS             ;
;                                                ;
;-------------------------------------------------
[module/bspwm]
type = internal/bspwm
pin-workspaces = true
inline-mode = true
enable-click = true
enable-scroll = true
reverse-scroll = true
fuzzy-match = true

;Dunno what this does
format = <label-state>
format-padding = 1

ws-icon-0=Terminal;
ws-icon-1=Sublime;
ws-icon-2=Firefox;
ws-icon-3=Thunar;
ws-icon-4=Evince;

;NOTE: YOU CANNOT HAVE NAME AND ICON
;TOGETHER ONLY ONE OR THE OTHER!!

label-focused = %icon%
label-focused-foreground = ${colors.blue}
label-focused-padding = 2

label-occupied = %icon%
label-occupied-foreground = ${colors.white}
label-occupied-padding = 2

label-empty = %icon%
label-empty-foreground = ${colors.white}
label-empty-padding = 2

;-------------------------------------------------
;                                                ;
;               DATE PARAMETERS                  ;
;                                                ;
;-------------------------------------------------
[module/date]
type = internal/date
interval = 1.0
date = %m-%d-%Y
time = %H:%M

; if `date-alt` or `time-alt` is defined, clicking
; the module will toggle between formats
date-alt = %A, %d %B %Y
time-alt = %H:%M:%S

format =  <label>
format-foreground = ${colors.white}

label = %date% %time%
label-foreground = ${colors.white}

;-------------------------------------------------
;                                                ;
;               POWER MENU PARAMETERS            ;
;                                                ;
;-------------------------------------------------
[module/powermenu]
type = custom/menu

format-spacing = 1
label-open = 
label-open-foreground = ${colors.white}
label-close =  cancel
label-close-foreground = ${colors.blue}
label-separator = |
label-separator-foreground = ${colors.blue}
label-open-padding = 2

menu-padding = 2

menu-0-0 = reboot
menu-0-0-exec = menu-open-1
menu-0-1 = power off
menu-0-1-exec = menu-open-2

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-1 = reboot
menu-1-1-exec = reboot

menu-2-0 = power off
menu-2-0-exec = poweroff
menu-2-1 = cancel
menu-2-1-exec = menu-open-0

;-------------------------------------------------
;                                                ;
;               CPU MODULE PARAMETERS            ;
;                                                ;
;-------------------------------------------------
[module/cpu]
type = internal/cpu
interval = 0.5

format = <label> <ramp-coreload>
label =  %percentage%%
label-foreground = ${colors.white}

ramp-coreload-0 = ▁
ramp-coreload-1 = ▂
ramp-coreload-2 = ▃
ramp-coreload-3 = ▄
ramp-coreload-4 = ▅
ramp-coreload-5 = ▆
ramp-coreload-6 = ▇
ramp-coreload-7 = █

;--------------USER DEFINED MODULES---------------
;These modules require scripts to run, you can find
;the scripts and how to run them here:
;https://github.com/jaagr/polybar/wiki/User-contributed-modules

;-------------------------------------------------
;                                                ;
;               VOLUME PARAMETERS                ;
;                                                ;
;-------------------------------------------------

[module/pavolume]
type = custom/script
interval = 2
label = %output%
exec = ~/.config/polybar/pavolume.sh
click-right = exec pavucontrol
click-left = ~/.config/polybar/pavolume.sh --togmute
scroll-up = ~/.config/polybar/pavolume.sh --up
scroll-down = ~/.config/polybar/pavolume.sh --down
label-padding = 2
label-foreground = ${colors.white}
