#XfceNotifyWindow {
    background-color: #F53155;
    /*border-radius: 0px;*/
    border: 1px solid #F53155;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    font-family: Roboto;
    font-size: 12;
    color: #ffffff;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    background-image: none;
    background-color : #AF2D4C;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    background-image: none;
    background-color : #26114A;
}

#XfceNotifyWindow progressbar {
    /*border-radius: 0px;*/
}

#XfceNotifyWindow progressbar progress {
    min-height: 7px;
    background-image: none;
    background-color: shade(#ffffff, 1.2);
}

#XfceNotifyWindow progressbar trough {
    min-height: 7px;
    background-image: none;
    background-color: #26114A;
    border: 0px solid shade(#26114A, 0.6);
    /*border-radius: 0px;*/
}
