;=========================================================;
;                Caligula's polybar config.               ;
;=========================================================;
; To refresh while editing do: $ polybar -r rome

;----------------------------------------------------------
;			C O L O R S
;----------------------------------------------------------

[colors]
peach = #FFCD98
lime = #CADC79
salmon = #d97464
darkgrey = #2e2e2e
lightgrey = #444444
alert = #bd2c40

xcolor0 = ${xrdb:color0}
xcolor1 = ${xrdb:color1}
xcolor2 = ${xrdb:color2}
xcolor3 = ${xrdb:color3}
xcolor4 = ${xrdb:color4}
xcolor5 = ${xrdb:color5}
xcolor6 = ${xrdb:color6}
xcolor7 = ${xrdb:color7}
xcolor8 = ${xrdb:color8}
xcolor9 = ${xrdb:color9}
xcolor10 = ${xrdb:color10}
xcolor11 = ${xrdb:color11}
xcolor12 = ${xrdb:color12}
xcolor13 = ${xrdb:color13}
xcolor14 = ${xrdb:color14}
xcolor15 = ${xrdb:color15}
background = ${xrdb:background}
foreground = ${xrdb:foreground}


;----------------------------------------------------------
;			G L O B A L
;----------------------------------------------------------

[global/wm]
margin-top = 21
margin-bottom = 21

[bar/rome]
monitor = eDP1
;dpi = ${xrdb:Xft.dpi:136}
bottom = false
width = 100%
height = 21
offset-x = 0%
offset-y = 0%
fixed-center = true
background = ${colors.xcolor0}
foreground = {xrdb:color2}

overline-size = 0
overline-color = ${colors.xcolor7}
underline-size = 0
underline-color = ${colors.xcolor7}
;label-name-overline = ${colors.colorname}
;format-param-underline = ${colors.colorname}

border-bottom-size = 0
border-bottom-color = ${colors.xcolor7}
border-top-size = 0
border-top-color = ${colors.xcolor7}
border-color-foreground = {xrdb:color2}

spacing = 0
padding-left = 0
padding-right = 0
;label-padding = 2
module-margin-left = 0
module-margin-right = 0


;----------------------------------------------------------
;			F O N T S
;----------------------------------------------------------

font-0 = PowerlineSymbols:size=15;3
font-1 = Terminus:size=10;1
font-2 = FontAwesome:size=10;2
font-3 = Terminus:size=18;0
font-4 = Monospace:size=28;3
font-5 = FontAwesome:size=26;7
; Extra symbols: http://fontawesome.io/cheatsheet/


;----------------------------------------------------------
;			  T R A Y
;----------------------------------------------------------

tray-position = left
tray-padding = 0
tray-transparent = false
tray-maxsize=24
;tray-offset-x = 21%
tray-foreground = ${colors.xcolor7}
tray-background = ${colors.xcolor1}

wm-restack = bspwm
;override-redirect = true
scroll-up = bspwm-desknext
scroll-down = bspwm-deskprev


;----------------------------------------------------------
;  	    M O D U L E    L A Y O U T S
;----------------------------------------------------------

modules-left = bspwm RightArrow3 weather RightArrow2 mail RightArrow1 powermenu music
modules-center = MiddleArrowLeft date MiddleArrowRight
modules-right = arrow1 LeftStripe arrow1 volume arrow2 network ssh vpn arrow3 cpu arrow2 memory arrow3 filesystem arrow2 temperature arrow3 battery

; All modules available in this config file:
; bspwm text xwindow tray xkeyboard filesystem mpd backlight cpu 
; memory network eth date volume battery temperature github 
; appmenu powermenu mail weather music ssh vpn

[bar/secondary]
monitor = eDP1
inherit = bar/rome
bottom = true
modules-left = mpd music github
modules-center = appmenu
modules-right = rofi arrow1 arrow2 weather arrow3 mail arrow2 network vpn eth


;----------------------------------------------------------
;		B S P W M   M O D U L E
;----------------------------------------------------------

[module/bspwm]
type = internal/bspwm
; Only show workspaces defined on the same output as the bar
pin-workspaces = true

; Create click handler used to focus workspace
; Default: true
enable-click = true

; Create scroll handlers used to cycle workspaces
; Default: true
enable-scroll = true

; Set the scroll cycle direction
; Default: true
reverse-scroll = false

;   ● ○
;label-focused = %name%
;label-focused = %index%
label-focused = 
label-focused-foreground = ${colors.xcolor7}
label-focused-background = ${colors.xcolor1}
label-focused-padding = 2
label-focused-font = 3
label-occupied = 
label-occupied-foreground = ${colors.xcolor0}
label-occupied-background = ${colors.xcolor1}
label-occupied-padding = 2
label-occupied-font = 3
label-urgent = 
label-urgent-foreground = ${colors.xcolor4}
label-urgent-background = ${colors.xcolor1}
label-urgent-padding = 2
label-urgent-font = 3
label-empty = 
label-empty-foreground = ${colors.xcolor0}
label-empty-background = ${colors.xcolor1}
label-empty-padding = 2
label-empty-font = 3

; ws-icon-[0-9]+ = label;icon
; Note that the label needs to correspond with the bspwm workspace name
;ws-icon-0 = code;♚
;ws-icon-1 = office;♛
;ws-icon-2 = graphics;♜
;ws-icon-3 = mail;♝
;ws-icon-4 = web;♞
;ws-icon-default = ♟


;----------------------------------------------------------
;	          T E X T    M O D U L E S
;----------------------------------------------------------

[module/pipe]
type = custom/text
content = "|"
content-foreground = ${colors.darkgrey}
content-background = ${colors.xcolor0}
content-padding = 1

[module/LeftStripe]
type = custom/text
content = ""
content-foreground = ${colors.xcolor0}
content-background = ${colors.xcolor1}

[module/arrow1]
type = custom/text
content = ""
content-foreground = ${colors.xcolor1}
content-background = ${colors.xcolor0}

[module/arrow2]
type = custom/text
content = " "
content-foreground = ${colors.xcolor7}
content-background = ${colors.xcolor1}

[module/arrow3]
type = custom/text
content = " "
content-foreground = ${colors.xcolor1}
content-background = ${colors.xcolor7}

[module/RightStripe]
type = custom/text
content = ""
content-foreground = ${colors.xcolor0}
content-background = ${colors.xcolor1}

[module/RightArrow1]
type = custom/text
content = ""
content-foreground = ${colors.xcolor1}
content-background = ${colors.xcolor0}

[module/RightArrow2]
type = custom/text
content = ""
content-foreground = ${colors.xcolor7}
content-background = ${colors.xcolor1}

[module/RightArrow3]
type = custom/text
content = ""
content-foreground = ${colors.xcolor1}
content-background = ${colors.xcolor7}

[module/MiddleArrowLeft]
type = custom/text
content = "◥"
content-foreground = ${colors.xcolor1}
content-background = ${colors.xcolor0}
;◥ ◤◢ ◣
[module/MiddleArrowRight]
type = custom/text
content = "◢"
content-foreground = ${colors.xcolor0}
content-background = ${colors.xcolor1}


;----------------------------------------------------------
;		       X W I N D O W
;----------------------------------------------------------

[module/xwindow]
type = internal/xwindow

format-foreground = ${colors.xcolor1}
format-background = ${colors.xcolor0}

label = "» %title:0:22:...%"


;----------------------------------------------------------
;		    X K E Y B O A R D
;----------------------------------------------------------

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

;   
format-foreground = ${colors.xcolor1}
format-background = ${colors.xcolor0}

label-layout =  %layout%
label-indicator-padding = 1
label-indicator-background = ${colors.salmon}


;----------------------------------------------------------
;		   F I L E S Y S T E M
;----------------------------------------------------------

[module/filesystem]
type = internal/fs
interval = 25
fixed-values = true

mount-0 = /
;mount-1 = /home

format-mounted = <label-mounted>
format-mounted-foreground = ${colors.xcolor7}
format-mounted-background = ${colors.xcolor1}

;  
label-mounted = "  %percentage_used%%"
; %free%% %percentage_used%% %used%
label-mounted-foreground = ${colors.xcolor7}
label-mounted-background = ${colors.xcolor1}
label-unmounted =   %mountpoint%
label-unmounted-foreground = ${colors.xcolor7}
label-unmounted-background = ${colors.xcolor1}


;----------------------------------------------------------
;			    M P D
;----------------------------------------------------------

[module/mpd]
type = internal/mpd
host = 127.0.0.1
port = 6602

format-online = <label-song>  <icon-prev> <icon-seekb> <icon-stop> <toggle> <icon-seekf> <icon-next>  <icon-repeat> <icon-random>

label-song-maxlen = 25
label-song-ellipsis = true

icon-prev = 
icon-seekb = 
icon-stop = 
icon-play = 
icon-pause = 
icon-next = 
icon-seekf = 

icon-random = 
icon-repeat = 

toggle-on-foreground = ${colors.primary}
toggle-off-foreground = #66


;----------------------------------------------------------
;		     B A C K L I G H T
;----------------------------------------------------------

[module/backlight]
type = internal/xbacklight
; To list available cards use: $ ls -1 /sys/class/backlight/
;card = intel_backlight

format = <ramp> <label>
;    
label = %percentage%%

ramp-0 = 🌕
ramp-1 = 🌔
ramp-2 = 🌓
ramp-3 = 🌒
ramp-4 = 🌑


;----------------------------------------------------------
;			   C P U
;----------------------------------------------------------

[module/cpu]
type = internal/cpu
interval = 1.0

format = <label>
;format = <ramp-coreload><label> 
format-prefix = " "
format-foreground = ${colors.xcolor7}
format-background = ${colors.xcolor1}

label = %percentage:3%%
;   

ramp-coreload-0 = ▁
ramp-coreload-1 = ▂
ramp-coreload-2 = ▃
ramp-coreload-3 = ▄
ramp-coreload-4 = ▅
ramp-coreload-5 = ▆
ramp-coreload-6 = ▇
;ramp-coreload-7 = █


;----------------------------------------------------------
;			M E M O R Y
;----------------------------------------------------------

[module/memory]
type = internal/memory
interval = 1

format-prefix = "  "
;format-prefix = ram
format-foreground = ${colors.xcolor1}
format-background = ${colors.xcolor7}
format-margin-top = -5

label = %percentage_used%%


;----------------------------------------------------------
;	      W I R E L E S S    N E T W O R K
;----------------------------------------------------------

[module/wireless-network]
type = internal/network
; To test interface: $ ls -1 /sys/class/net/
interface = wls1
interval = 0.3

format-connected = <label-connected>
format-disconnected = <label-disconnected>

label-connected = "  %downspeed%"
;label-connected = "  %essid%  %local_ip%  %downspeed:8%  %upspeed:8%"
label-connected-foreground = ${colors.xcolor1}
label-connected-background = ${colors.xcolor7}
label-disconnected = " "
label-disconnected-foreground = ${colors.xcolor1}
label-disconnected-background = ${colors.xcolor7}

ramp-signal-0 = ▁
ramp-signal-1 = ▂
ramp-signal-2 = ▃
ramp-signal-3 = ▄
ramp-signal-4 = ▅
ramp-signal-5 = ▆
ramp-signal-6 = ▇
ramp-signal-7 = █


;----------------------------------------------------------
;   		      E T H E R N E T
;----------------------------------------------------------

[module/eth]
type = internal/network
; To test interface: $ ls -1 /sys/class/net/
interface = ens5f5
interval = 0.5

label-connected = "   %local_ip% %downspeed:8%  %upspeed:8%  "
label-connected-foreground = ${colors.xcolor1}
label-connected-background = ${colors.xcolor7}
label-disconnected = "  %ifname% "
label-disconnected-foreground = ${colors.xcolor4}
label-disconnected-background = ${colors.xcolor7}


;----------------------------------------------------------
;		     D A T E  &  T I M E
;----------------------------------------------------------

[module/date]
type = internal/date
interval = 1

format-foreground = ${colors.xcolor7}
format-background = ${colors.xcolor1}

date = "  %Y/%m/%d"
date-alt = ""
time = ""
time-alt = "  %I:%M:%S %p"
;date = "%Y/%m/%d | "
;date-alt = "It is day %j, week %V, of year %y of the %Cth century."
;time = "%I:%M:%S %p"
;time-alt = " %z %Z"
label = "  %date%%time%  "


;----------------------------------------------------------
;			V O L U M E
;----------------------------------------------------------

[module/volume]
type = internal/volume

master-soundcard = default
speaker-soundcard = default
headphone-soundcard = default
mapping = true

format-volume = <ramp-volume><label-volume>
;     

label-volume = %percentage%
label-volume-foreground = ${colors.xcolor7}
label-volume-background = ${colors.xcolor1}
label-muted = "  muted"
label-muted-foreground = ${colors.xcolor4}
label-muted-background = ${colors.xcolor1}

ramp-volume-0 = "  "
ramp-volume-0-foreground = ${colors.xcolor7}
ramp-volume-0-background = ${colors.xcolor1}
ramp-volume-1 = "  "
ramp-volume-1-foreground = ${colors.xcolor7}
ramp-volume-1-background = ${colors.xcolor1}
ramp-volume-2 = "  "
ramp-volume-2-foreground = ${colors.xcolor7}
ramp-volume-2-background = ${colors.xcolor1}
ramp-volume-3 = "  "
ramp-volume-3-foreground = ${colors.xcolor7}
ramp-volume-3-background = ${colors.xcolor1}

bar-volume-width = 10
bar-volume-background = #495858
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = true
bar-volume-indicator = "|"
bar-volume-fill = ─
bar-volume-empty = ─


;----------------------------------------------------------
;			 B A T T E R Y
;----------------------------------------------------------

[module/battery]
type = internal/battery
; To list battery & adapter: $ ls -1 /sys/class/power_supply/
battery = BAT0
adapter = AC0
full-at = 99

format-charging = <animation-charging> <label-charging>
format-charging-foreground = ${colors.xcolor7}
format-charging-background = ${colors.xcolor1}
format-discharging = <ramp-capacity> <label-discharging>
format-discharging-foreground = ${colors.xcolor7}
format-discharging-background = ${colors.xcolor1}
format-full = <label-full>
format-full-foreground = ${colors.xcolor7}
format-full-background = ${colors.xcolor1}

label-charging = "%percentage%% "
label-discharging = "%percentage%% "
label-discharging-foreground = ${colors.xcolor7}
label-full = "  %percentage%% "
; 
ramp-capacity-0 = " "
ramp-capacity-0-foreground = ${colors.xcolor4}
ramp-capacity-1 = " "
ramp-capacity-1-foreground = ${colors.xcolor4}
ramp-capacity-2 = " "
ramp-capacity-3 = " "
ramp-capacity-4 = " "
animation-charging-0 = " "
animation-charging-1 = " "
animation-charging-2 = " "
animation-charging-3 = " "
animation-charging-4 = " "
animation-charging-framerate = 750


;----------------------------------------------------------
;		    T E M P E R A T U R E
;----------------------------------------------------------

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 65
interval = 2

format = <ramp> <label>
format-warn = <ramp> <label-warn>
format-prefix = " "
format-foreground = ${colors.xcolor1}
format-background = ${colors.xcolor7}
format-warn-foreground = ${colors.xcolor4}
format-warn-background = ${colors.xcolor7}

label = %temperature%
label-warn = %temperature%

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-3 = 
ramp-4 = 


;----------------------------------------------------------
;		       G I T H U B
;----------------------------------------------------------

[module/github]
type = internal/github

format = <label>

; Accessing an access token stored in file
;token = ${file:/path/to/file/containing/github/access.token}
; Accessing an access token stored in an environment variable
token = ${env:GITHUB_ACCESS_TOKEN}
; Whether empty notifications should be displayed or not
empty-notifications = false

;    
; Available tokens:
;   %notifications% (default)
; Default: Notifications: %notifications%
label =  %notifications%


;----------------------------------------------------------
;		      P O W E R   M E N U
;----------------------------------------------------------

[module/powermenu]
type = custom/menu

;      » 
label-open = " "
label-open-font = 6
label-open-foreground = ${colors.xcolor1}
label-open-background = ${colors.xcolor0}
label-close = 
label-close-foreground = ${colors.xcolor7}
label-close-background = ${colors.xcolor0}
label-separator = " "
label-separator-foreground = ${colors.xcolor1}
label-separator-background = ${colors.xcolor0}

; lock
menu-0-0 = "  "
menu-0-0-exec = bash ~/scripts/lock.sh
menu-0-0-foreground = ${colors.xcolor7}
menu-0-0-background = ${colors.xcolor0}
; sleep
menu-0-1 = "  "
menu-0-1-exec = bash ~/scripts/lock.sh && systemctl suspend
menu-0-1-foreground = ${colors.xcolor7}
menu-0-1-background = ${colors.xcolor0}
; logout
menu-0-2 = "  "
menu-0-2-exec = pkill x
menu-0-2-foreground = ${colors.xcolor7}
menu-0-2-background = ${colors.xcolor0}
; reboot
menu-0-3 = "  "
menu-0-3-exec = systemctl reboot
menu-0-3-foreground = ${colors.xcolor7}
menu-0-3-background = ${colors.xcolor0}
; shutdown
menu-0-4 = " "
menu-0-4-exec = systemctl poweroff
menu-0-4-foreground = ${colors.xcolor7}
menu-0-4-background = ${colors.xcolor0}
; end stripe
menu-0-5 = " "
menu-0-5-font = 6
menu-0-5-foreground = ${colors.xcolor1}
menu-0-5-background = ${colors.xcolor0}


;----------------------------------------------------------
;		       R U N    M E N U
;----------------------------------------------------------

[module/appmenu]
type = custom/menu

;       
label-open = ""
label-open-font = 6
label-open-foreground = ${colors.xcolor1}
label-open-background = ${colors.xcolor0}
label-close = " "
label-close-foreground = ${colors.xcolor7}
label-close-background = ${colors.xcolor0}
label-separator = " "
label-separator-foreground = ${colors.xcolor1}
label-separator-background = ${colors.xcolor0}

;                   
; terminal
menu-0-0 = "  "
menu-0-0-exec = termite &
menu-0-0-foreground = ${colors.xcolor7}
menu-0-0-background = ${colors.xcolor0}
; filemanager
menu-0-1 = "  "
menu-0-1-exec = thunar &
menu-0-1-foreground = ${colors.xcolor7}
menu-0-1-background = ${colors.xcolor0}
; browser
menu-0-2 = "  "
menu-0-2-exec = firefox &
menu-0-2-foreground = ${colors.xcolor7}
menu-0-2-background = ${colors.xcolor0}
; editor
menu-0-3 = "  "
menu-0-3-exec = atom &
menu-0-3-foreground = ${colors.xcolor7}
menu-0-3-background = ${colors.xcolor0}
; chat client
menu-0-4 = "  "
menu-0-4-exec = discord &
menu-0-4-foreground = ${colors.xcolor7}
menu-0-4-background = ${colors.xcolor0}
; media player
menu-0-5 = "  "
menu-0-5-exec = vlc &
menu-0-5-foreground = ${colors.xcolor7}
menu-0-5-background = ${colors.xcolor0}
; end stripe
menu-0-6 = " "
menu-0-6-font = 6
menu-0-6-foreground = ${colors.xcolor1}
menu-0-6-background = ${colors.xcolor0}


;----------------------------------------------------------
;		      S C R I P T    M O D U L E S
;    https://github.com/jaagr/polybar/wiki/Module:-script
;----------------------------------------------------------

; Example json files for mail, weather, & music: https://github.com/Chaosteil/dotfiles/tree/master/polybar/.config/polybar
[module/mail]
type = custom/script
exec = $HOME/.config/polybar/mail.py
interval = 120
label = "  %output:0:5:...% "
;  
format-foreground = ${colors.xcolor7}
format-background = ${colors.xcolor1}


[module/weather]
type = custom/script
exec = $HOME/.config/polybar/weather.py
interval = 120
label = "  %output:0:22:...% "
format-foreground = ${colors.xcolor1}
format-background = ${colors.xcolor7}


[module/music]
type = custom/script
exec = $HOME/.config/polybar/mediaplayer.py
exec-if = pgrep -x spotify
interval = 3
label = "  %output:0:30:% "
format-foreground = ${colors.xcolor7}
format-background = ${colors.xcolor1}
click-left = dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause


[module/ssh]
type = custom/script
exec = echo + SSH
exec-if = pgrep -i ssh
interval = 3.0
format-foreground = ${colors.xcolor4}
format-background = ${colors.xcolor7}
label = " %output:0:5%"
click-left = echo left %counter%
click-middle = echo middle %counter%
click-right = echo right %counter%
scroll-up = echo scroll up %counter%
scroll-down = echo scroll down %counter%


[module/vpn]
type = custom/script
exec = echo + VPN
exec-if = pgrep -i vpn
interval = 3.0
format-foreground = ${colors.xcolor4}
format-background = ${colors.xcolor7}
label = " %output:0:5%"
click-left = echo left %counter%
click-middle = echo middle %counter%
click-right = echo right %counter%
scroll-up = echo scroll up %counter%
scroll-down = echo scroll down %counter%

[module/window_count]
type = custom/script
interval = 1
label = %{A1:skippy-xd --toggle-window-picker:}   %output%  %{A}
exec = echo "$(($(wmctrl -l -i | wc -l)-1))"
format = <label>
format-prefix = " tasks "
format-prefix-foreground = #F5166A
format-padding = 1
label-foreground = #FF41CE

[module/rofi]
type = custom/script
exec = echo " rofi"
click-left = /home/pringle/.config/polybar/polybar/wal/powermenu.sh
label-foreground = ${xrdb:color8}
label-background = #0B1219
format-padding = 1
label-prefix = 

[module/network]
type = custom/script
label-background = #color8 = ${xrdb:color8}
exec = $HOME/.config/polybar/scripts/network.sh
click-left = networkmanager_dmenu
click-right = networkmanager_dmenu
label-padding = 1
interval = 1
tail = true

[module/taskwarrior]
interval = 30
type = custom/script
exec = /home/pringle/.config/polybar/task_polybar.sh
format = <label>
format-foreground = #FFF
format-prefix = " "
click-left = task "$((`cat /tmp/tw_polybar_id`))" done


[module/workspaces]
type = internal/xworkspaces
enable-click = true
enable-scroll = true
format-padding = 1
Additional formatting
icon-0 = 1;
icon-1 = 2;
icon-2 = 3;
icon-3 = 4;
icon-4 = 5;
icon-5 = 6;
icon-6 = 7;
icon-7 = 8;
icon-8 = 9;
icon-9 = 10;
;icon-default = 

;

format = <label-state>
label-monitor =  %name%

label-active = " %icon% %name% "
label-active-foreground = ${xrdb:color13}
label-active-background = #color8 = ${xrdb:color8}
label-active-underline = #F5166A

label-occupied = " %icon% %name% "
label-occupied-underline = #EFC8AA
label-occupied-background = #1E232B
label-occupied-foreground = #34C8BC

label-urgent = " %icon% %name% "
label-urgent-foreground = #ffffff
label-urgent-background = #007086
label-urgent-underline = #34C8BC

label-empty = " %icon% %name% "
label-empty-foreground = #ffffff

[module/workspace]
type = custom/script
interval = 1
label = %{A4:wmctrl -s "$(($(xprop -root _NET_CURRENT_DESKTOP | cut -d '=' -f 2 | cut -d ' ' -f 2)+1))":}%{A5:wmctrl -s "$(($(xprop -root _NET_CURRENT_DESKTOP | cut -d '=' -f 2 | cut -d ' ' -f 2)-1))":}%output% %{A}%{A}
exec = echo "$(($(xprop -root _NET_CURRENT_DESKTOP | cut -d '=' -f 2 | cut -d ' ' -f 2)+1))"
label-background = #0B1219
label-foreground = #13181D
format = <label>
;format-prefix = " "
format-prefix-foreground = #F5166A

[module/menu]
type = custom/menu

format-spacing = 1
label-open = "  "
label-open-foreground = #ffffff
label-closed-background = #FAFDFF
label-close = "  "
label-close-foreground = #BA386F
label-separator = "│"
label-separator-foreground = #F9987D
menu-0-0 = Most Used
menu-0-0-exec = menu-open-1
menu-0-1 = Ricing
menu-0-1-exec = menu-open-2
menu-0-2 = Media
menu-0-2-exec = menu-open-3
menu-0-3 = 
menu-0-3-exec = menu-open-4

menu-1-0 = "  "
menu-1-0-exec = exo-open --launch vivaldi-snapshot
menu-1-1 = "  "
menu-1-1-exec = exo-open --launch xfce4-terminal
menu-1-2 = "  "
menu-1-2-exec = exo-open --launch thunar
menu-1-3 = "  "
menu-1-3-exec = atom

menu-2-0 = "  "
menu-2-0-exec = gcolor2
menu-2-1 = "  "
menu-2-1-exec = spotify --force-device-scale-factor=1.5
menu-2-2 = "  "
menu-2-2-exec = wpg
menu-2-3 = "  "
menu-2-3-exec = yakyak
menu-2-4 = "  "
menu-2-4-exec = lxappearance
menu-2-5 = "  "
menu-2-5-exec = scrot %F-%S_$wx$h_scrot.png -e 'mv $f ~/images'

menu-3-0 = "  "
menu-3-0-exec = audacious &
menu-3-1 = "  "
menu-3-1-exec = playerctl stop
menu-3-2 = "  "
menu-3-2-exec = playerctl previous
menu-3-3 = "  "
menu-3-3-exec = playerctl play-pause
menu-3-4 = "  "
menu-3-4-exec = playerctl next

menu-4-0 = "  "
menu-4-0-exec = slimlock
menu-4-1 = "  "
menu-4-1-exec = systemctl reboot
menu-4-2 = "  "
menu-4-2-exec = systemctl poweroff

[module/workspace-box]
type = internal/i3
format = <label-state><label-mode>
pin-workspaces = true
strip-wsnumbers = true
index-sort = true
enable-click = true
enable-scroll = false
wrapping-scroll = false
reverse-scroll = false
fuzzy-match = true
label-mode-padding = 1
label-mode = %mode%
label-mode-foreground = ${colors.foreground}
label-mode-background = ${colors.background}
label-focused = ""
label-focused-foreground = ${colors.foreground}
label-focused-background = ${colors.background}
label-focused-padding = 1
label-unfocused = ""
label-unfocused-foreground = ${colors.foreground}
label-unfocused-background = #f76d47
label-unfocused-padding = 1
label-urgent = ""
label-urgent-foreground = ${colors.red}
label-urgent-background = #f76d47
label-urgent-padding = 1
label-visible = ""
label-visible-foreground = ${colors.foreground}
label-visible-background = $#f76d47
label-visible-padding = 1

[module/scrot]
type = custom/text
content =" " ""
content-foreground = #ffffff
;click-left = scrot %F-%S_$wx$h_scrot.png -e 'mv $f ~/scrot' &
click-right = scrot %F-%S_$wx$h_scrot.png -e 'mv $f /home/pringle/Dropbox'' &
click-left = scrot 'ArchLabs_%Y-%m-%d-%S_$wx$h.png' -e 'mv $f $$(xdg-user-dir PICTURES) ; gpicview $$(xdg-user-dir PICTURES)/$f' &
format-padding = 1


[module/reddit]
type = custom/script
interval = 10
format = <label>
exec = ~/.config/polybar/reddit.sh
click-left = xdg-open https://reddit.com/message/unread
format-module-margin = 3
format-padding = 1

; 


[module/reload]
type = custom/script
exec = echo " reload"
;exec = /home/pringle/.config/polybar/reload
click-left = exec /home/pringle/.config/polybar/reload
label-foreground = #ffffff
label-background = #0B1219
format-prefix = reload
format-padding = 3

[module/down]
type = internal/network
interface = wlp3s0
interval = 3.0
ping-interval = 10

format-prefix = "  "
format-connected =  <label-connected>
format-connected-foreground = #C7FFD2
format-connected-underline =  #85DEBF
format-packetloss =  <label-connected>
format-packetloss-foreground = #F5166A
format-packetloss-underline = #F5166A
format-disconnected = -
format-disconnected-foreground = #7A7A7A
label-connected = %downspeed%
format-padding = 1

[module/up]
type = internal/network
interface = wlp3s0
interval = 3.0
ping-interval = 10


format-prefix = "  "
format-connected = <label-connected>
format-connected-foreground = #D9FFEA
format-connected-underline = #85DEBF
format-packetloss = <label-connected>
format-packetloss-foreground = #C40C84
format-packetloss-underline = #F5166A
format-disconnected =  -
format-disconnected-foreground = #7A7A7A
label-connected = %upspeed%
format-padding = 1

; 
;           
;
;

;#########################################################;
;                 E N D    O F    F I L E                 :
;#########################################################;
